---
import { waLink } from '../data/negocio';
---
<a
  href={waLink('Hola! Quiero consultar disponibilidad en El Quincho de Bere.')}
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Consultar por WhatsApp"
  class="hidden md:flex fixed bottom-6 right-6 z-40 items-center justify-center w-14 h-14 rounded-full bg-[#25D366] shadow-lg shadow-black/20 hover:scale-105 transition-transform"
>
  <svg viewBox="0 0 32 32" class="w-7 h-7 fill-white"><path d="M16.001 3C9.383 3 4 8.383 4 15.001c0 2.386.702 4.61 1.912 6.478L4 29l7.72-1.877A11.94 11.94 0 0 0 16.001 27C22.619 27 28 21.619 28 15.001 28 8.383 22.619 3 16.001 3zm0 21.818a9.77 9.77 0 0 1-4.98-1.363l-.357-.212-4.583 1.114 1.146-4.47-.233-.366a9.77 9.77 0 0 1-1.494-5.52c0-5.415 4.406-9.82 9.82-9.82s9.82 4.405 9.82 9.82-4.405 9.817-9.82 9.817zm5.386-7.354c-.294-.147-1.74-.86-2.01-.958-.27-.098-.467-.147-.663.147-.196.294-.76.958-.932 1.155-.172.196-.343.221-.637.074-.294-.147-1.243-.458-2.367-1.46-.875-.78-1.466-1.744-1.638-2.038-.172-.294-.018-.453.129-.6.133-.132.294-.343.441-.515.147-.172.196-.294.294-.49.098-.196.049-.368-.024-.515-.074-.147-.663-1.6-.909-2.19-.24-.575-.484-.497-.663-.507l-.564-.01c-.196 0-.515.074-.784.368-.27.294-1.03 1.006-1.03 2.454s1.055 2.847 1.202 3.043c.147.196 2.077 3.17 5.033 4.444.703.304 1.252.485 1.68.62.706.224 1.348.192 1.856.117.566-.085 1.74-.712 1.986-1.4.245-.688.245-1.278.172-1.4-.074-.123-.27-.196-.564-.343z"/></svg>
</a>
